<form action="/bmi" methods ="get">
  <label for="weight">Weight in KG</label>
  <input type="text" name="weight" placeholder ="Enter Weight (KG)">
  <label for="height">Height in Metres</label>
  <input type="text" name="height" placeholder ="Enter Height (Metres)">
  <input type="submit">
</form>

<% if @bmiresult %>
  <p>The result of your BMI is: <%= @bmiresult %> </p>
<% end %>
