<form action="/" methods="get">
  <label for="first">First Number</label>
  <input type="text" name="first" placeholder="Enter the first number">
  <label for="operator">Operator</label>
  <input type="text" name="operator" placeholder="Enter the Operator">
  <label for="second">Second Number</label>
  <input type="text" name="second" placeholder="Enter a second number">
  <input type="Submit">
</form>

<% if @result %>
  <p>The result of <%= @first %> <%= @operator %> <%= @second %> is: <%= @result %></p>
<% end %>