<form action="/mortgage" method="get">
    <label for="principal">Principal</label>
    <input type="text" name="principal" placeholder="Enter the Principal">
    <label for="int_rate">Interest Rate</label>
    <input type="text" name="int_rate" placeholder="Enter the Interest Rate">
    <label for="num_payments">Number of Payments</label>
    <input type="text" name="num_payments" placeholder="Enter the No. of Payments">
    <input type="submit">
</form>


<% if @result_mort_calc %>
<p>Based on a principal of <%= @principal %>, an interest rate of <%= @int_rate %>, and <%= @num_payments %> payments, your mortgage is $ <%= @result_mort_calc %> / mon </p>
<% end %>